@{
    Layout = "~/Views/Shared/_SKMalandayLayout.cshtml";
}
<link rel="stylesheet" href="../content/Contact.css">

<body>
    <main>
        <section class="contact-container">
            <div class="header-text">
                <h1>CONTACT US</h1>
                <p>We’d love to hear from you! Reach out for questions, suggestions, or to join our programs.</p>

                <div class="contact-info">
                    <div class="contact-item">
                        <i class="material-icons">location_on</i>
                        <p>64 Malaya St., Malanday, Marikina City</p>
                    </div>
                    <div class="contact-item">
                        <i class="material-icons">email</i>
                        <p>skmalandaymarikinacity@gmail.com</p>
                    </div>
                    <div class="contact-item">
                        <i class="material-icons">facebook</i>
                        <p>SK Malanday - Marikina City</p>
                    </div>
                    <div class="contact-item">
                        <i class="material-icons">local_phone</i>
                        <p>941-61-06</p>
                    </div>
                    <div class="contact-item">
                        <i class="material-icons">schedule</i>
                        <p>Monday – Saturday, 8:00 AM – 5:00 PM</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
