@{
    Layout = "~/Views/Shared/_SKMalandayLayout.cshtml";
}

    <link rel="stylesheet" href="~/Content/Council.css" />

    <section class="council-section">
        <div class="container">
            <h1>MEET YOUR SK CORE MEMBERS</h1>
            <p class="subtitle">Empowering the youth of Malanday with leadership, transparency, and action.</p>

            <div class="council-grid">
                <div class="council-card">
                    <img src="~/Content/Images/Chair.png" alt="Chairman">
                    <h3>Ezekiel John S. Mata</h3>
                    <p>SK Chairman</p>
                </div>

                <div class="council-card">
                    <img src="~/Content/Images/Sec.png" alt="Secretary">
                    <h3>Cielo DG. Villaroman</h3>
                    <p>Secretary</p>
                </div>

                <div class="council-card">
                    <img src="~/Content/Images/Treas.png" alt="Treasurer">
                    <h3>Dharyl Kate B. Bongcasan</h3>
                    <p>Treasurer</p>
                </div>

                <div class="council-card">
                    <img src="~/Content/Images/BMO.png" alt="Budget Monitoring Officer">
                    <h3>Jean Angelica I. Aldaba</h3>
                    <p>Budget Monitoring Officer</p>
                    

                </div>
            </div>
        </div>
    </section>

  
