@{
    Layout = "~/Views/Shared/_SKMalandayLayout.cshtml";
}
    <link rel="stylesheet" href="../content/Home.css">

<body>
   
   <div class="main-content">
        <img src="~/Content/Images/MRKLogo.jpg" alt="Marikina Logo"class="background-logo">

        <div class="logos">
            <img src="~/Content/Images/BrgyLogo.png" alt="Barangay Logo">
            <div class="center-logo">
                <a href="index.html">
                    <img src="~/Content/Images/SKLogo.png" alt="SK Logo">

                </a>

            </div>
            <img src="~/Content/Images/MCLogo.png" alt="Marikina City Logo">
        </div>


        <h1>SANGGUNIANG KABATAAN</h1>
        <h2>MALANDAY</h2>
    </div>
    
</body>

