.dashboard-container {
    width: 80%;
    margin: auto;
    padding: 30px;
}

.upload-box input {
    display: block;
    padding: 10px;
    margin-top: 5px;
    width: 300px;
}

.preview-container {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #ddd;
    width: 300px;
}

.preview-img {
    width: 100%;
    border-radius: 8px;
}

.remove-btn, .add-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
}

.add-btn {
    background: #27ae60;
}

.project-grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.project-card {
    padding: 10px;
    background: #f7f7f7;
    border-radius: 8px;
    text-align: center;
}

    .project-card img {
        width: 100%;
        border-radius: 8px;
    }

