* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.background-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.2;
    z-index: -1;
    pointer-events: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px 20px;
    position: relative;
    text-align: center;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

    .logos img {
        width: 150px;
        height: auto;
    }

.center-logo img {
    width: 350px;
    height: auto;
    cursor: pointer;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    margin-top: -30px;
    margin-bottom: 10px;
    color: #243119;
}

h2 {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 8px;
    margin-top: -30px;
    margin-bottom: 10px;
    color: #243119;
}
